<%- include('parts/head') %>
<%- include('parts/nav') %>
    <br>
    <div class="container text-center">
        <p class="alert alert-danger">Page Not Found...</p>
    </div>
<%- include('parts/footer') %>